a {
	text-decoration:none; 
	color: #377BA8;;
}

body { 
	font-family: sans-serif; 
	background: #ffffff; 
}

.page > h1 {
	margin: 1em auto auto 1em;	
}

.content { 
	margin: 2.5em auto; 
	width: 35em; 
	border: 3px solid #ccc;
	padding: 0.8em; 
	background: #eee;
}

.link {
	color: #63A0DD;
	font-size: 2em;
}

.link:hover {
	color: #233D72;
}